
<!-- app/views/users/index.html.erb -->

<body style="background-color: rgb(153, 245, 153)">
    <div class="container-fluid mt-4">
      <h1 class="text-center">Users Details Page</h1>
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead class="thead-dark">
            <tr>
              <th class="text-center">Email</th>
              <th class="text-center">User Role</th>
              <th colspan="2" class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td class="text-center"><%= user.email %></td>
                <td class="text-center"><%= user.has_role?(:admin) ? 'Admin' : 'Applicant' %></td>
                <td class="text-center">
                 
                  <%= button_to 'Delete', user_path(user),
                  method: :delete,
                  onclick: "return confirm('Are you sure you want to delete this User?');",
                  class: 'btn btn-danger btn-sm' %>
                </td>
                <td class="text-center">
                  <%= link_to 'Make Admin', make_admin_user_path(user), method: :put, class: 'btn btn-primary btn-sm' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  
    
  </body>
  

