<body>
  <div class="container-fluid mt-5">
    <div class="jumbotron text-center">
      <h1 class="display-4">Welcome to the Loan Application Portal</h1>
      <p class="lead">Get started on your journey to financial support!</p>
      <% if user_signed_in? %>
  <% loan_button_color = user_signed_in? ? 'btn-success' : 'btn-primary' %>
  
  <% unless current_user.admin? %>
    <%= link_to 'Loan Application', new_loan_path, class: "btn btn-lg #{loan_button_color}" %>
    <%= link_to 'Loan Details', loans_path, class: "btn btn-lg #{loan_button_color}" %>

  <% end %>

  <% if current_user.admin? %>
    <%= link_to 'Loan Details', loans_path, class: "btn btn-lg #{loan_button_color}" %>
    <%= link_to 'All Users Details', users_path, class: "btn btn-lg #{loan_button_color}" %>
  <% end %>
<% end %>
    
    </div>
  </div>

  <footer class="footer mt-5 text-green">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p>&copy; 2024 Loan Application Portal</p>
          <p>Created by Viral</p>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
